@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld-webfont.eot");
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/brandon_bld-webfont.woff2") format('woff2'), url("../fonts/brandon_bld-webfont.woff") format('woff'), url("../fonts/brandon_bld-webfont.ttf") format('truetype'), url("../fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesqueblack';
  src: url("../fonts/brandon_blk-webfont.eot");
  src: url("../fonts/brandon_blk-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/brandon_blk-webfont.woff2") format('woff2'), url("../fonts/brandon_blk-webfont.woff") format('woff'), url("../fonts/brandon_blk-webfont.ttf") format('truetype'), url("../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("../fonts/brandon_light-webfont.eot");
  src: url("../fonts/brandon_light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/brandon_light-webfont.woff2") format('woff2'), url("../fonts/brandon_light-webfont.woff") format('woff'), url("../fonts/brandon_light-webfont.ttf") format('truetype'), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("../fonts/brandon_med-webfont.eot");
  src: url("../fonts/brandon_med-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/brandon_med-webfont.woff2") format('woff2'), url("../fonts/brandon_med-webfont.woff") format('woff'), url("../fonts/brandon_med-webfont.ttf") format('truetype'), url("../fonts/brandon_med-webfont.svg#brandon_grotesquemedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg-webfont.eot");
  src: url("../fonts/brandon_reg-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/brandon_reg-webfont.woff2") format('woff2'), url("../fonts/brandon_reg-webfont.woff") format('woff'), url("../fonts/brandon_reg-webfont.ttf") format('truetype'), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquethin';
  src: url("../fonts/brandon_thin-webfont.eot");
  src: url("../fonts/brandon_thin-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/brandon_thin-webfont.woff2") format('woff2'), url("../fonts/brandon_thin-webfont.woff") format('woff'), url("../fonts/brandon_thin-webfont.ttf") format('truetype'), url("../fonts/brandon_thin-webfont.svg#brandon_grotesquethin") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("../img/fondo-corazones.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
/*----------CONTENEDOR INICIO------------*/
.contenedor-vista {
  text-align: center;
  padding: 0px 30px;
}
.contenedor-preguntas {
  text-align: center;
}
/*----------CONTENEDOR INICIO------------*/
/*----------HEADER INICIO----------------*/
.header-grande {
  background-color: #000;
  height: 137.5px;
  margin-bottom: 35px;
}
.header-grande .header-logo {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
}
.header-grande .header-logo-zeta {
  display: none;
}
.header-chico {
  height: 55.5px;
  position: relative;
}
.header-chico .header-logo {
  width: 130px;
  left: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header-chico .header-logo-zeta {
  width: 70px;
  display: block;
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/*----------HEADER FIN----------------*/
/*------------LOGIN INICIO------------*/
.texto-login {
  font-family: 'brandon_grotesque_regularRg';
  color: #fff;
  width: 200px;
  margin: 0 auto;
  font-size: 0.99em;
  line-height: 20px;
}
.texto-login span {
  font-family: 'brandon_grotesqueblack';
  font-size: 1.74em;
}
/*------------LOGIN FIN------------*/
/*------------FORMULARIO INICIO------------*/
.formulario-login {
  margin-top: 35px;
}
.formulario-login input::-webkit-input-placeholder {
  font-family: 'brandon_grotesque_regularRg';
  color: #ad0f0a;
  padding-left: 10px;
  font-size: 0.95em;
}
.formulario-login input {
  width: 100%;
  height: 33px;
  margin-bottom: 3px;
  border: 1px solid #ea482d;
  line-height: 15px;
  padding-left: 10px;
}
#btnJugar {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
}
/*------------FORMULARIO FIN------------*/
/*-------------NOTIFICACION MODAL INICIO ---------------*/
.notificacion-modal {
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0.1px 0.1px 10px #000;
  box-shadow: 0.1px 0.1px 10px #000;
  position: fixed;
  z-index: 17;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: none;
}
.notificacion-modal p {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #808080;
  margin: 0px;
  font-family: brandon_grotesque_regularRg;
  font-size: 1.35em;
}
.notificacion-modal span {
  position: absolute;
  z-index: 17;
  font-size: 2em;
  color: #a52a2a;
  right: 15px;
  top: 10px;
}
.cargando {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 16;
  display: none;
}
.cargando i {
  font-size: 4em;
}
.fondo-negro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: #000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  display: none;
}
/*-------------NOTIFICACION MODAL FIN ---------------*/
/*-------------PREGUNTAS INICIO-------------*/
.pregunta {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 30px 0px;
  margin-bottom: 20px;
}
.pregunta-texto {
  margin: 0px;
  font-family: 'brandon_grotesque_regularRg';
  color: #fff;
  font-size: 1.5em;
}
.respuestas ul {
  padding: 0px;
}
.respuesta {
  list-style: none;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-family: 'brandon_grotesqueblack';
  font-size: 1.1em;
  margin-bottom: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  position: relative;
}
.correcto {
  background-color: #00c605;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.incorrecto {
  background-color: #f00;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.img-res {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: none;
}
.img-res-activo {
  display: block;
}
.premios {
  list-style: none;
  padding: 10px;
  background-color: #ea482d;
  color: #fff;
  font-family: 'brandon_grotesqueblack';
  font-size: 1.1em;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}
.perdiste {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
.ganaste {
  position: relative;
  margin: 0 auto;
}
#resultado {
  margin-top: 20px;
}
/*-------------PREGUNTAS INICIO-------------*/
